
body{
  background-image: url(http://2.bp.blogspot.com/-kqW50wI2qvk/UTYPohBUIaI/AAAAAAAAOPk/FRv42YtTSbg/s1600/corona800x6001.jpg);
  background-size: 100%;
}

.container-fluid{
  background-color:black;
}


h1{
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 86px;
  background: -webkit-linear-gradient(left, yellow, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h2{
  color: white;
  font-size: 70px;
  font-family: 'Merriweather', serif;
  background: -webkit-linear-gradient(left, yellow, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h4{
  color: white;
  font-family: 'Merriweather', serif;
  background: -webkit-linear-gradient(left, yellow, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h5{
  color: gold;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  background: -webkit-linear-gradient(left, yellow, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

label{
  color: gold;
}

img{
  height: 250px;
}

a{
  color:white;
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-text {
    color: white;
    font-family: cursive;
}

.form-control1{
      width: 30%;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-top: 210px;
}

.btn-primary1{
  margin-top: 210px;
}
